#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../../../assets/img/mainHeroBg.png"), no-repeat center/cover;

  .hero {
    &--cloth {
      margin: 0 60px;

      h1 {
        font-weight: 900;
        font-size: 48px;
        color: #72072D;
      }

      &__text {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        a {
          font-weight: 900;
          font-size: 24px;
          color: #FF005C;
          list-style: none;
          display: flex;
          align-items: center;
          margin: 5px 0;

          div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #FF005C;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  #hero {
    .hero {
      &--cloth {
        h1 {
          font-size: 26px;
        }

        &__text {
          li {
            font-size: 19px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #hero {
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
  }
  #hero {
    img {
      margin-top: 30px;
    }

    .hero {
      &--cloth {
        h1 {
          font-size: 35px;
          text-align: center;
          padding-top: 20px;
        }

        &__text {
          display: flex;
          flex-direction: inherit;
          justify-content: center;

          a {
            margin: 5px 23px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #hero {
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
  }
  #hero {
    .hero {
      &--cloth {
        h1 {
          font-size: 35px;
        }

        &__text {
          display: flex;
          flex-direction: inherit;

          a {
            margin: 5px 6px
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #hero {
    .hero {
      &--cloth {
        margin: 0 0;

        h1 {
          font-size: 24px;
        }

        &__text {
          a {
            margin: 5px 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 451px) {
  #hero {
    img {
      width: 100%;
    }

    .hero {
      &--cloth {
        h1 {
          font-size: 17px;
        }
      }
    }
  }
  #hero {
    .hero {
      &--cloth {
        &__text {
          a {
            margin: 5px 2px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #hero {
    img {
      width: 100%;
    }

    .hero {
      &--cloth {
        &__text {
          a {
            margin: 5px 2px;
            font-size: 15px;
          }
        }
      }
    }
  }
  #hero {
    .hero {
      &--cloth {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #hero {
    img {
      width: 100%;
    }

    .hero {
      &--cloth {
        h1 {
          font-size: 23px;
        }

        &__text {
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
  #hero .hero--cloth__text a div {
    width: 4px;
    height: 5px;
  }
}

@media (max-width: 320px) {
  #hero {
    img {
      width: 100%;
    }

    .hero {
      &--cloth {
        h1 {
          font-size: 18px;
          text-align: center;
        }

        &__text {
          a{
            font-size: 12px;
          }
        }
      }
    }
  }
}