#category .category h2 {
  font-weight: 700;
  font-size: 40px;
  color: #72072D;
  padding: 40px 0;
}
#category .category--block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#category .category--block__man {
  position: relative;
}
#category .category--block__man--one {
  display: flex;
  position: absolute;
  top: 5px;
  color: #FFFFFF;
}
#category .category--block__man--one__icon {
  position: absolute;
  bottom: 28px;
  padding: 2px 43%;
  color: white;
  font-size: 27px;
}
#category .category--block__man--one p {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding: 8px 20px 0;
  position: absolute;
  bottom: 30px;
}
#category .category--block__woman {
  position: relative;
}
#category .category--block__woman--two {
  display: flex;
  position: absolute;
  top: 5px;
}
#category .category--block__woman--two__icon {
  position: absolute;
  bottom: 28px;
  padding: 2px 43%;
  color: white;
  font-size: 27px;
}
#category .category--block__woman--two p {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding: 8px 20px 0;
  position: absolute;
  bottom: 30px;
}
#category .category--block__child {
  position: relative;
}
#category .category--block__child--three {
  display: flex;
  position: absolute;
  top: 5px;
  color: white;
}
#category .category--block__child--three__icon {
  position: absolute;
  bottom: 28px;
  padding: 2px 42%;
  color: white;
  font-size: 27.9px;
}
#category .category--block__child--three p {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding: 8px 20px 0;
  position: absolute;
  bottom: 30px;
}
#category .category--block__shoe {
  position: relative;
}
#category .category--block__shoe--four {
  display: flex;
  position: absolute;
  top: 5px;
}
#category .category--block__shoe--four__icon {
  position: absolute;
  bottom: 28px;
  padding: 2px 35%;
  color: white;
  font-size: 27px;
}
#category .category--block__shoe--four p {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding: 8px 20px 0;
  position: absolute;
  bottom: 30px;
}

@media (max-width: 1440px) {
  #category .category--block__woman {
    margin: 20px 0;
  }
  #category .category--block__child {
    margin: 20px 0;
  }
  #category .category--block__child {
    margin: 23px 0;
  }
}
@media (max-width: 405px) {
  #category .category--block__man img {
    width: 90%;
  }
  #category .category--block__man p {
    font-size: 21px;
  }
  #category .category--block__man__icon {
    font-size: 16px;
  }
  #category .category--block__woman img {
    width: 90%;
  }
  #category .category--block__woman p {
    font-size: 21px;
  }
  #category .category--block__woman__icon {
    font-size: 16px;
  }
  #category .category--block__child img {
    width: 90%;
  }
  #category .category--block__child p {
    font-size: 21px;
  }
  #category .category--block__child__icon {
    font-size: 16px;
  }
  #category .category--block__shoe img {
    width: 90%;
  }
  #category .category--block__shoe p {
    font-size: 21px;
  }
  #category .category--block__shoe__icon {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  #category .category--block {
    display: flex;
    align-items: center;
  }
  #category .category--block__man img {
    width: 90%;
  }
  #category .category--block__man p {
    font-size: 18px;
  }
  #category .category--block__man__icon {
    font-size: 14px;
  }
  #category .category--block__woman img {
    width: 90%;
  }
  #category .category--block__woman p {
    font-size: 18px;
  }
  #category .category--block__woman__icon {
    font-size: 14px;
  }
  #category .category--block__child img {
    width: 90%;
  }
  #category .category--block__child p {
    font-size: 18px;
  }
  #category .category--block__child__icon {
    font-size: 14px;
  }
  #category .category--block__shoe img {
    width: 90%;
  }
  #category .category--block__shoe p {
    font-size: 18px;
  }
  #category .category--block__shoe__icon {
    font-size: 14px;
    padding: 0 10px;
  }
}
#mainClothes {
  padding: 60px 0;
}
#mainClothes .mainClothes h1 {
  font-weight: 700;
  font-size: 40px;
  color: #72072D;
}
#mainClothes .mainClothes--group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#mainClothes .mainClothes--group__block {
  width: 230px;
  height: 320px;
  margin: 20px 20px;
}
#mainClothes .mainClothes--group__block div {
  width: 100%;
  height: 260px;
  border: 1px solid rgba(0, 0, 0, 0.53);
  border-radius: 5px;
}
#mainClothes .mainClothes--group__block div img {
  width: 100%;
  height: 260px;
  object-fit: contain;
}
#mainClothes .mainClothes--group__block h3 {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-top: 10px;
}
#mainClothes .mainClothes--group__block p {
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}
#mainClothes .mainClothes--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#mainClothes .mainClothes--btn button {
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #D118A8;
  color: #D118A8;
  background: transparent;
}

@media (max-width: 700px) {
  #mainClothes .mainClothes h1 {
    font-size: 30px;
  }
}
@media (max-width: 550px) {
  #mainClothes .mainClothes--group__block {
    width: 160px;
  }
  #mainClothes .mainClothes--group__block h3 {
    font-size: 20px;
  }
}
@media (max-width: 451px) {
  #mainClothes .mainClothes--group__block {
    width: 130px;
    height: 260px;
  }
  #mainClothes .mainClothes--group__block div {
    height: 200px;
  }
  #mainClothes .mainClothes--group__block div img {
    height: 200px;
  }
  #mainClothes .mainClothes--group__block h3 {
    font-size: 20px;
  }
}
@media (max-width: 376px) {
  #mainClothes .mainClothes h1 {
    font-size: 20px;
  }
  #mainClothes .mainClothes--group__block {
    width: 100px;
    height: 240px;
  }
  #mainClothes .mainClothes--group__block div {
    height: 180px;
  }
  #mainClothes .mainClothes--group__block div img {
    height: 180px;
  }
  #mainClothes .mainClothes--group__block h3 {
    font-size: 17px;
  }
}
@media (max-width: 320px) {
  #mainClothes .mainClothes h1 {
    font-size: 20px;
  }
  #mainClothes .mainClothes--group__block {
    width: 90px;
    height: 220px;
  }
  #mainClothes .mainClothes--group__block div {
    height: 160px;
  }
  #mainClothes .mainClothes--group__block div img {
    height: 160px;
  }
  #mainClothes .mainClothes--group__block h3 {
    font-size: 17px;
  }
}
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../../../assets/img/mainHeroBg.png"), no-repeat center/cover;
}
#hero .hero--cloth {
  margin: 0 60px;
}
#hero .hero--cloth h1 {
  font-weight: 900;
  font-size: 48px;
  color: #72072D;
}
#hero .hero--cloth__text {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#hero .hero--cloth__text li {
  font-weight: 900;
  font-size: 24px;
  color: #FF005C;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
#hero .hero--cloth__text li div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF005C;
  margin-right: 8px;
}

@media (max-width: 1024px) {
  #hero .hero--cloth h1 {
    font-size: 26px;
  }
  #hero .hero--cloth__text li {
    font-size: 19px;
  }
}
@media (max-width: 992px) {
  #hero {
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
  }
  #hero img {
    margin-top: 30px;
  }
  #hero .hero--cloth h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
  }
  #hero .hero--cloth__text {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
  }
  #hero .hero--cloth__text li {
    font-size: 19px;
    margin: 10px 20px;
  }
}
@media (max-width: 768px) {
  #hero {
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
  }
  #hero .hero--cloth h1 {
    font-size: 35px;
  }
  #hero .hero--cloth__text {
    display: flex;
    flex-direction: inherit;
  }
  #hero .hero--cloth__text li {
    font-size: 19px;
  }
}
@media (max-width: 576px) {
  #hero .hero--cloth h1 {
    font-size: 24px;
  }
  #hero .hero--cloth__text li {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  #hero .hero--cloth h1 {
    font-size: 17px;
  }
  #hero .hero--cloth__text li {
    font-size: 8px;
    margin: 0 0;
  }
}
@media (max-width: 400px) {
  #hero .hero--cloth__text li {
    font-size: 6px;
    margin: 0 0;
  }
  #hero .hero--cloth h1 {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  #hero img {
    width: 100%;
  }
  #hero .hero--cloth h1 {
    font-size: 13px;
  }
  #hero .hero--cloth__text li {
    font-size: 4px;
    margin: 0 0;
  }
}
@media (max-width: 320px) {
  #hero img {
    width: 100%;
  }
  #hero .hero--cloth h1 {
    font-size: 10px;
    text-align: center;
  }
  #hero .hero--cloth__text li {
    font-size: 2px;
    margin: 0 0;
  }
}

/*# sourceMappingURL=mainStyle.css.map */
